

@{
    ViewData["Title"] = "Home Page";
}

@*Css OpenLayers*@
@*[Obsolete]*@
<link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">

@*Lib OpenLayers*@

@*[Obsolete]*@
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
@*[Obsolete]*@
<script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>


<div>
    <h2 class="h2">Aplicação Escritorio Dentitas</h2>


    <hr />

    <h4 class="h4">Fornecedores</h4>

    <table class="table" style="background-color : aliceblue;">
        <tr>
            <th>Nome</th>
            <th>Cadastro</th>
            <th>Tipo de Produto</th>
        </tr>

        @{

            List<Fornecedor> fornecedores = (List<Fornecedor>)ViewData["Fornecedores"];
            foreach (Fornecedor f in fornecedores)
            {
                <tr>
                    <td>@f.Nome</td>
                    <td>@f.Cadastro</td>
                    <td>@f.TipoProduto</td>
                </tr>
            }

        }
    </table>


    <h4 class="h4">Produtos</h4>

    <table class="table" style="background-color : aliceblue;">
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Estoque</th>
        </tr>

        @{

            List<Produto> produtos = (List<Produto>)ViewData["Produtos"];
            foreach (Produto p in produtos)
            {
                <tr>
                    <td>@p.Nome</td>
                    <td>@p.Tipo</td>
                    <td>@p.Estoque</td>
                </tr>
            }

        }
    </table>


    <hr/>

    <h4 class="h4">Exemplo da Utilização da Lib OpenLayers 4.6.2 junto com Asp</h4>

    <div class="container"
         id="map"
         style="height:400px;
                border : 2px solid grey;">
    </div>



    <script>
        var map = new ol.Map({
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            target: 'map',
            view: new ol.View({
                projection: 'EPSG:4326',
                center: [-45.96, -23.3],
                zoom: 5,
                minZoom: 5,
                maxZoom: 15
            })
        });
    </script>

</div>
