

@{
    ViewData["Title"] = "Home Page";
}

@*Css OpenLayers*@
@*[Obsolete]*@
<link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">

@*Lib OpenLayers*@

@*[Obsolete]*@
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
@*[Obsolete]*@
<script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>


<div>
    <h2 class="h2">Aplicação Escritorio de Dentitas</h2>


    <hr />


    <h4 class="h4">Clientes</h4>

    <table class="table" style="background-color : aliceblue;">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cidade</th>
        </tr>

        @{

            List<ClienteBuscaResult> clientes = (List<ClienteBuscaResult>)ViewData["Clientes"];
            foreach (ClienteBuscaResult p in clientes)
            {
                <tr>
                    <td>@p.Cliente.Id</td>
                    <td>@p.Cliente.Nome</td>
                    <td>@p.CidadeName</td>
                </tr>
            }

        }
    </table>



    <h4 class="h4">Dentistas</h4>

    <table class="table" style="background-color : aliceblue;">
        <tr>
            <th>Nome</th>
            <th>Id</th>            
        </tr>

        @{

            List<Dentista> dentistas = (List<Dentista>)ViewData["Dentistas"];
            foreach (Dentista d in dentistas)
            {
                <tr>
                    <td>@d.Nome</td>
                    <td>@d.Id</td>                    
                </tr>
            }

        }
    </table>

    <h4 class="h4">Fornecedores</h4>

    <table class="table" style="background-color : aliceblue;">
        <tr>
            <th>Nome</th>
            <th>Cadastro</th>
            <th>Tipo de Produto</th>
        </tr>

        @{

            List<Fornecedor> fornecedores = (List<Fornecedor>)ViewData["Fornecedores"];
            foreach (Fornecedor f in fornecedores)
            {
                <tr>
                    <td>@f.Nome</td>
                    <td>@f.Cadastro</td>
                    <td>@f.TipoProduto</td>
                </tr>
            }

        }
    </table>


    <h4 class="h4">Produtos</h4>

    <table class="table" style="background-color : aliceblue;">
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Estoque</th>
        </tr>

        @{

            List<Produto> produtos = (List<Produto>)ViewData["Produtos"];
            foreach (Produto p in produtos)
            {
                <tr>
                    <td>@p.Nome</td>
                    <td>@p.Tipo</td>
                    <td>@p.Estoque</td>
                </tr>
            }

        }
    </table>



    <hr />

    <h3 class="h3">Estamos Aqui : </h3>
    <p>Avenida Exemplo 123456, Jacareí - Centro </p>

    <div class="container"
         id="map"
         style="height:400px;
         border : 2px solid grey;
         margin-left : -10px;
         ">
    </div>



    <script>
        var map = new ol.Map({
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            target: 'map',
            view: new ol.View({
                projection: 'EPSG:4326',
                center: [-45.96, -23.3],
                zoom: 5,
                minZoom: 5,
                maxZoom: 15
            })
        });


        var iconFeature = new ol.Feature({
            geometry: new ol.geom.Point([-45.96, -23.3]),
            name: 'Yellow Tooth'
        });

        var iconStyle = new ol.style.Style({
            image: new ol.style.Icon(({
                anchor: [0.5, 46],
                anchorXUnits: 'fraction',
                anchorYUnits: 'pixels',
                src: 'https://openlayers.org/en/v4.6.5/examples/data/icon.png'
            }))
        });

        iconFeature.setStyle(iconStyle);

        var vectorSource = new ol.source.Vector({
            features: [iconFeature]
        });

        var vectorLayer = new ol.layer.Vector({
            source: vectorSource
        });

        map.addLayer(vectorLayer);

    </script>

</div>
