@model IEnumerable<DentistaApp.Models.Cliente>

 <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>


@{
    ViewData["Title"] = "Index";
}

<h2>Clientes</h2>

<p>
    <a class="btn btn-default" asp-action="Create">Cadastrar Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="form-group">
    <h2>Buscar Cliente por Cidade</h2>
    <label for="Cidade" class="control-label">Cidade</label>
    <select id="buscar-cliente-cidade" name="Cidade" class="form-control">
        @{

            <option value="disabled" disabled selected>Escolha uma Cidade</option>

            List<String> cidades = (List<String>)ViewData["Cidades"];
            int start = 1;
            foreach (String c in cidades)
            {
                <option value="@start">@c</option>

                start++;
            }

        }
    </select>

    <h2>Resultado</h2>
    <table id="table-result" class="table" style="background-color : aliceblue;"></table>

</div>


<script>

    $('#buscar-cliente-cidade').on('change', () => {

        let value = $('#buscar-cliente-cidade').val();

        $.getJSON("/Clientes/Buscar?id=" + value, (data) => {            

            if (data.lenght == 0) {

                return;
            }

             $('#table-result').empty();
            

            $('#table-result').append(`<tr>
                     <th>Id</th>
                     <th>Nome</th>
                     <th>Cidade</th>
                </tr>`);

            for (let row of data) {
                $('#table-result').append(`
                <tr>
                    <td>${row.cliente.id}</td>
                    <td>${row.cliente.nome}</td>
                    <td>${row.cidadeName}</td>
                </tr>
                `);
            }

        }).fail(() => {
            alert("Erro na requisição http : 'Cliente/Buscar'");
        })

    })


    let popularTabela = (json) => {



    }


</script>